import React from 'react';
import PropTypes from 'prop-types';
import './{{pascalCase name}}.scss';

class {{pascalCase name}} extends React.Component {
  constructor(props) {
    super(props)
  }

  render() {
    return (
    <div>
    </div>
    );
  }
};

{{pascalCase name}}.defaultProps = {

};

{{pascalCase name}}.propTypes = {

};

export default {{pascalCase name}};
